@page "/"

<div class="header">Ultraschallkurs Anmeldung Formular</div>

<div class="container">
    <div class="split left">
        <a href="/Basiskurs" class="btn">Basiskurs<br />Anmeldung</a>
    </div>
    <div class="split right">
        <a href="/Blockkurs" class="btn">Blockkurs<br />Anmeldung</a>
    </div>
</div>
